.los-contenedores-titulo{
    color: black;
}

.hero-contenedores{
    background-color: aliceblue;
}

.hero-contenedores h1{
    padding: 2rem;
    font-size: 4rem;
}

.los-contenedores {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin: 0 auto;
    padding: 2rem;
}

.los-contenedores h1{
    font-size: 2.8rem;
}

.los-contenedores > div {
    padding: 1rem;
    border: 1px solid #e6d7ff;
    box-sizing: border-box;
    overflow: auto;
    color: black;
}

@media (max-width: 992px) {
    .hero-contenedores h1 {
        font-size: 3rem;
    }

    .los-contenedores {
        grid-template-columns: 1fr 1fr;
    }

    .los-contenedores h1 {
        font-size: 2.2rem;
    }
}

@media (max-width: 768px) {
    .hero-contenedores h1 {
        font-size: 2.5rem;
    }

    .los-contenedores {
        grid-template-columns: 1fr;
    }

    .los-contenedores h1 {
        font-size: 1.8rem;
    }

    .todo-inicio {
        gap: 2rem;
    }
}

@media (max-width: 576px) {
    .hero-contenedores h1 {
        font-size: 2rem;
    }

    .los-contenedores h1 {
        font-size: 1.5rem;
    }
}