:root {
  --color-principal: #6653b3;
  --color-secundario: #988ec2;
  --color-fondo: #f0f0f0;
  --color-texto: #ffffff;
}

*{
  padding: 0px;
  margin: 0px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: linear-gradient(15deg, #8637c2, #833bc1, #6f4cba, #6653b3, #6654b3, #5e61b6, #5578b4, #557bb3);
  font-family: 'Lapo', sans-serif;
  font-size: medium;
  color: var(--color-texto);
}

body {
  line-height: 1.6;
  font-size: 16px;
}